@font-face {
    font-family: oswald;
    src: url(../font/Oswald-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: oswald;
    src: url(../font/Oswald-ExtraLight.ttf);
    font-weight: 100;
}

@font-face {
    font-family: oswald;
    src: url(../font/Oswald-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: oswald;
    src: url(../font/Oswald-Medium.ttf);
    font-weight: 300;
}

@font-face {
    font-family: oswald;
    src: url(../font/Oswald-SemiBold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: oswald;
    src: url(../font/Oswald-Bold.ttf);
    font-weight: bold;
}
