.header {
    @include top-bar-container;
    color: get-color(light);
    height: $top-bar-height;
    position: relative;

    .list__new {
        @include app-button($icon: 'plus-square');

        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .bm-burger-button {
        position: relative;
        top: 0;
        left: 0;
        height: 20px;
        width: 25px;

        .bm-burger-bars {
            background: get-color(white);
            height: 10%
        }
    }

    .bm-cross-button {
        .bm-cross {
            height: 24px !important;
        }
    }

    .header__icon {
        width: 20px;
        margin-top: 6px;
        height: auto;
    }
}
