
.list {
    margin-top: $grid-gutter-width;
}

.list__item, .list__item--head {
    @include xy-grid-container;
    @include xy-grid;

    padding: $grid-gutter-width / 2 0;
    border-bottom: 1px solid get-color(light);
}

.list__item--head {
    background: get-color(light);
    margin-bottom: $grid-gutter-width;
}

.list__item__name, .list__item__number, .list__item__action {
    @include xy-gutters;
}

.list__item__name {
    @include xy-cell-size(4);
}
.list__item__number {
    @include xy-cell-size(4);
}

.list__item__action {
    @include xy-cell-size(4);

    text-align: right;
}

.list__item__edit {
    @include app-button(get-color(success), get-color(success), 'edit');
    padding-right: calc(1em - 4px);
}
.list__item__delete {
    @include app-button(get-color(alert), get-color(alert), 'trash-alt', );
}