$foundation-palette: (
        dark: #333,
        white: #fff,
        light: #ababab,
        primary: #1779ba,
        secondary: #767676,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);

$grid-margin-gutters: (
        small: 15px,
        medium: 15px
);


$topbar-background: get-color('dark');
$grid-gutter-width: 30px / 2;