$foundation-palette: (
        dark: #333,
        white: #fff,
        light: #aaaaaa,
        primary: #1779ba,
        secondary: #767676,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);

$grid-margin-gutters: (
        small: 15px,
        medium: 15px
);

$create-font-face: false;

$topbar-background: get-color('dark');
$grid-gutter-width: 30px / 2;
$top-bar-height: 28px;