.tab__navigation {
    @include menu-base;
    @include menu-expand;

    background: get-color(dark);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;

    .tab__navigation__item {
        @include iconfont(building);
        @include ellipsis;

        &:before {
            display: block;
        }

        cursor: pointer;
        color: get-color(light);
        text-align: center;
        padding: 5px;
        text-overflow: ellipsis;
    }
}

.tab--hidden {
    display: none;
}