<div class="py-4 mb-2">
  <h3 class="d-inline-block">Devices</h3>
  <div class="float-right">
    <%= linkTo(newDevicesPath(), {class: "btn btn-primary"}) { %>
      Create New Device
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Name</th><th>Type</th><th>RoomID</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (devex) in devices { %>
      <tr>
        <td class="align-middle"><%= devex.Name %></td><td class="align-middle"><%= devex.Type %></td><td class="align-middle"><%= devex.RoomID %></td>
        <td>
          <div class="float-right">
            <%= linkTo(devexPath({ device_id: devex.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editDevicePath({ device_id: devex.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(devexPath({ device_id: devex.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
