$accentColor = #333333
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #333333
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

.custom-block.tip {
  border-color: #333333 !important;
}
